:root {
    --bg: #fdfbf7;
   
    --text: #2c2c2c;
   
    --primary: #2c2c2c;
    --accent: #ff4757;
    
    --card-bg: #ffffff;
    --border-color: #2c2c2c;
    --shadow: 4px 4px 0px rgba(0, 0, 0, 0.8);
   
    --font-main: 'Patrick Hand', cursive;
   
}

/* theme */

[data-theme="dark"] {
    --bg: #222;
    --text: #ddd;
    --primary: #ddd;
    --card-bg: #333;
    --border-color: #ddd;
    --shadow: 4px 4px 0px rgba(255, 255, 255, 0.2);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background: var(--bg);
    color: var(--text);
    overflow-x: hidden;
    line-height: 1.6;
    /* paper */
    background-image: radial-gradient(#d7d7d7 1px, transparent 1px);
    background-size: 20px 20px;
}

::selection {
    background: var(--accent);
    color: white;
}


/* cursor */
body {
    cursor: auto;
}


a,
button,
.card,
input,
textarea,
.theme-btn {
    cursor: pointer;
}

/* navbar */

.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 5%;
    background: var(--bg);
    border-bottom: 2px solid var(--border-color);
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 35.5px;
    font-weight: 700;
}

.logo .dot {
    color: var(--accent);
}

nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-link {
    text-decoration: none;
    color: var(--text);
    font-weight: 600;
    font-size: 20.8px;
    position: relative;
    transition: 0.3s;
}

.nav-link:hover {
    color: var(--accent);
    text-decoration: line-through;
}

.theme-btn {
    background: transparent;
    border: 2px solid var(--border-color);
    padding: 0.5rem;
    border-radius: 50% 40% 60% 30% / 40% 50% 60% 50%;
    font-size: 1.2rem;
    color: var(--text);
    transition: 0.3s;
    cursor: pointer;
}

.theme-btn:hover {
    background: var(--text);
    color: var(--bg);
    transform: rotate(-10deg);
}

/* intro */

.intro {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 0 32px;
}

.intro h2 {
    font-size: 80px;
    margin-bottom: 16px;
    line-height: 1;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.intro p {
    font-size: 32px;
    color: var(--text);
    margin-bottom: 32px;
    font-style: italic;
}

.nav-btn {
    display: flex;
    gap: 24px;
    justify-content: center;
}

/* modify */

.gradient-text {
    color: var(--accent);
    text-decoration: underline wavy;
}

/* card */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 48px;
    padding: 96px 10%;
}

.card {
    background: var(--card-bg);
    padding: 40px;
    border: 3px solid var(--border-color);
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    box-shadow: var(--shadow);
    transition: transform 0.2s;
    position: relative;
}

.card:hover {
    transform: rotate(-2deg) scale(1.02);
}

.card-icon {
    font-size: 48px;
    margin-bottom: 16px;
}

.card h3 {
    margin-bottom: 8px;
    font-size: 32px;
    text-decoration: underline wavy;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--accent);
}

.card p {
    font-size: 19px;
}

/* footer */

footer {
    padding: 48px 16px;
    text-align: center;
    border-top: 3px dashed var(--border-color);
    margin-top: 64px;
}

.heart {
    color: var(--accent);
    font-size: 24px;
}

.socials {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-icon img {
    width: 42px;
    height: 42px;
    border-radius: 12px;
    object-fit: cover;
    transition: 0.3s ease;
    filter: grayscale(100%);
}

.social-icon:hover img {
    transform: scale(1.15) rotate(6deg);
    filter: grayscale(0%);
}

/* proj-card */

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
    padding: 0 10%;
    align-items: start;
}

.project-card {
    height: 200px;
    background-size: cover;
    background-position: center;
    border: 3px solid var(--border-color);
    border-radius: 18px;
    box-shadow: var(--shadow);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}



.project-card .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

.project-card:hover .overlay {
    background: rgba(0, 0, 0, 0.6);
}

.project-card h3 {
    color: rgb(244, 209, 209);
    font-size: 2rem;
    text-align: center;
    padding: 0 1rem;
    text-shadow: 3px 3px 0 rgba(48, 31, 31, 0.6);
}

/* buton */

.btn {
    padding: 0.8rem 2.5rem;
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
    border: 2px solid var(--border-color);
    /* Irregular border radius for sketch feel */
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
    transition: 0.2s;
    box-shadow: var(--shadow);
}

.primary-btn {
    background: var(--text);
    color: var(--bg);
}

.secondary-btn {
    background: var(--bg);
    color: var(--text);
}

.btn:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
}

/* resposive */

@media (max-width: 768px) {
    .intro h2 {
        font-size: 3rem;
    }
}







